{% extends 'base.html.twig' %}

{% block title %}Modifier site{% endblock %}

{% block main %}
    <div class="container">
    <h1>Modifier un site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Modifier'}) }}

        <form method="GET" action="{{ path('app_site_index') }}" >
            <button style="color: cornflowerblue;" class="btn" >retour a la liste</button>
        </form>


    </div>
{% endblock %}
