{% extends 'base.html.twig' %}

{% block title %}Modifier site{% endblock %}

{% block main %}
    <div class="container">
    <h1>Edit Site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a href="{{ path('app_site_index') }}">retour a la liste</a>

    </div>
{% endblock %}
