{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block main %}
    <h1>Creer un nouveau Site</h1>

    {{ include('site/_form.html.twig') }}


    <form method="GET" action="{{ path('app_site_index') }}" >


        <button style="color: cornflowerblue;" class="btn" >retour a la liste</button>
    </form>
{% endblock %}
