{% extends 'base.html.twig' %}

{% block title %}modifier son compte{% endblock %}

{% block main %}
    <h1>modifier son compte</h1>

    <div class="container">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form(form) }}
    </div>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
