{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block main %}
    <h1>Créer un compte</h1>
    <div class="container">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
            <br>
            <button type="submit" class="btn btn-success mt-2">Créer</button>
        {{ form_end(form) }}
        <form method="GET" action="{{ path('home') }}" >
            <button style="color: cornflowerblue;" class="btn btn-success mt-2" >Accueil</button>
        </form>
    </div>

{% endblock %}
