{% extends 'base.html.twig' %}

{% block title %}modifier Ville{% endblock %}

{% block main %}
    <h1>modifier la Ville</h1>

    {{ include('ville/_form.html.twig', {'button_label': 'modifier'}) }}


    <form method="GET" action="{{ path('app_ville_index') }}" >
        <button style="color: cornflowerblue;" class="btn" >retour a la liste</button>
    </form>
{% endblock %}
