{% extends 'base.html.twig' %}

{% block title %}New Ville{% endblock %}

{% block main %}
    <h1>Créer une nouvelle ville</h1>

    {{ include('ville/_form.html.twig') }}

    <form method="GET" action="{{ path('app_ville_index') }}" >
        <button style="color: cornflowerblue;" class="btn" >retour a la liste</button>
    </form>
{% endblock %}
